:root {
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* colors */
  /* primary */
  --red: #ff7a7a;
  --green: #38cc8c;

  /* accent */
  --blue: #6055a5;

  /* neutral */
  --darkBlue: #3e3c49;
  --graylishBlue: #b9b6d3;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
